.footer {

    background-color: var(--gray-color);

    padding-top: 60px;
    padding-bottom: 60px;
}

.footer-container {
    display: block;
    align-items: center;
    justify-content: center;
    @media screen and(min-width:$desktop) {
        display: flex;
        padding-top: 60px;
        padding-bottom: 60px;
        align-items: baseline;
}
}
.wrapper{
    @media screen and (min-width:$tablet ) and (max-width: $desktop){
            display: flex;
            justify-content: space-around;
    }
    @media screen and(min-width:$desktop) {
        display: flex;
        align-items: baseline;
    }
}

.footer-elements{
@media screen and(max-width:1199px) {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }



}

.footer-logo {
    margin-bottom: 20px;
 
    font-family: Raleway, sans-serif;
font-weight: 700;
    font-size: 24px;
    line-height: calc(24/28);
    @media screen and(max-width:767px) {
        text-align: center;
    }
    @media screen and(min-width:$desktop) {
        font-weight: 700;
            font-size: 26px;
            line-height: calc(26/31);
 
    }
}



.footer-first-part {
    color: var(--accent-color)
}

.footer-last-part {
    color: var(--white-color);
}




.footer-contacts-mailto {
    margin-bottom: 9px;
}
.footer-contacts-mailto,
.footer-contacts-tel{
    @media screen and(max-width:1199px) {
        text-align: center;
    }
}

.footer-contacts-list {
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
}


.footer-contacts-link {
    color: rgba(255, 255, 255, 0.6);
    line-height: 1.7;


    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        &:hover,
        &:focus {
            color: var(--accent-color);
        }
}


.address {
    width: 232px;
    margin-right: 0;
    margin-bottom: 9px;
    line-height: 1.71;
    color: #FFFFFF;
    font-style: normal;
    @media screen and(max-width:1199px) {
            text-align: center;
    }
    @media screen and(min-width:$desktop) {
        margin-top: 20px;
        
    }
}


.footer-container {
    padding: 0;


}


