.menu-toggle {
    min-height: 40px;
    min-width: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: var(--main-text-color);
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-left: auto;
    padding: 0;
    background-color: transparent;
    border: none;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
    &:hover,
    &:focus  {
            color: var(--accent-color);
        }

@media (min-width: 768px) {
    & {
        display: none;
    }
}
}





.menu-container {
    position: fixed;
    top: 0;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    padding: 32px;
    background-color: var(--white-color);
    z-index: 999;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    -webkit-transition: -webkit-transform 250ms ease-in-out;
    transition: -webkit-transform 250ms ease-in-out;
    transition: transform 250ms ease-in-out;
    transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
}

.menu-container.is-open {
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

.menu-toggle {
    cursor: pointer;
    color: var(--main-text-color);

}
.menu-toggle-close{
        display: block;
        fill: currentColor;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        &:hover,
        &:focus {
            color: var(--accent-color);
            }
    
}

.menu-container .menu-toggle {
    position: absolute;
    top: 16px;
    right: 16px;
}

.menu-toggle-icon {
    fill: var(--main-text-color);
}

.mobile-menu {
    padding: 0;
    margin-bottom: auto;
    list-style: none;
}

.mobile-menu .link {
    display: block;
    padding: 10px;
    text-decoration: none;
}
.mobile-socials {

    display: flex;

}
.mobile-socials-item{
    margin-left: 10px;
    &:not(:last-child) {
        border-right: 1px solid #ECECEC;
        padding-right: 10px;
    }
    &:first-child{
        margin-left: 0;
    }
}
.mobile-socials-link{

     position: relative;
    color: var(--accent-color);
    font-weight: 500;
    font-size: 18px;
    line-height:calc(18/24);
    letter-spacing: 0.02em;

}


.mobile-menu-item{
        & :hover  {
                color: var(--accent-color);
            }
        }


.mobile-menu-link{
    color: var(--main-text-color);
    font-weight: 500;
    font-size: 40px;
    line-height: calc(40/48);
    letter-spacing: 0.02em;
    & :hover{
        color: var(--accent-color);
    }
}
.mobile-menu-link
.mobile-contacts{
    margin-bottom: 64px;
}

.mobile-contacts-item{
    margin-bottom: 32px;
}

.mobile-contacts-mail{
    color: var(--main-color);
    font-weight: 500;
    font-size: 24px;
    line-height: calc(24/28);
    letter-spacing: 0.02em;
}
.mobile-contacts-tell{
color: var(--accent-color);
font-weight: 500;
font-size: 34px;
line-height: calc(34/40);
letter-spacing: 0.02em;
}
