:root {
    --main-text-color: #212121;
    --accent-color: #2196F3;
    --white-color: #FFFFFF;
    --main-color: #757575;
    --gray-color: #2F303A;
    --line-color: #D9D9D9;
    --icon-color: #AFB1B8;
}